body{
    background: #f4f4f4;
}
.main{
    width: 1210px;margin: 0 auto;
}
header{
    width: 100%;height: 40px;background: #fbfbfb;
    border-bottom: 1px solid #f3f3f3;
}
a{
    color: #333;
    display: block;
    transition: all .5s;
}
.header-left{
    float: left;
    line-height: 40px;
    color: #999;
}
.header-right{
    float: right;
}
.header-right>ul>li{
    float: left;
    margin-left: 10px;
    line-height: 40px;
}
.header-right>ul>li>a{
    color: #999;   
}
.top-mobile-wrap{
    color: blue;
}
.header-right>ul>li>a:hover{
    color: #666;
}
.top-mobile-wrap{
    position: relative;
    cursor: pointer;
    color: #0069c8 !important;
}
.top-mobile-wrap:hover .littleImg,.top-mobile-wrap:hover .wx-tip{
    visibility: visible;
}
.top-mobile-wrap .littleImg{
    visibility: hidden;
    width: 120px;
    height: 120px;
    background: #FFF;
    position: absolute;
    right: 0;
    z-index: 6;
    padding: 10px 20px;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 0 15px -3px rgba(0,0,0,.2);
}
.wx-tip{
    visibility: hidden;
    width: 120px;
    position: absolute;
    right: 0;
    z-index: 6;
    top: 180px;
    background: #f5f5f5;
    text-align: center;
    padding: 0 20px;
    border-top: 1px dotted #e3e3e3;
    border-radius: 0 0 5px 5px;
    height: 35px;
    line-height: 35px;
    color: #0069c8;
}
/********* header end **********/
.clearfix:after{
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    width: 100%;
}
.top-wrap{
    width: 100%;
    position: fixed;
    top: 40px;
    background: #fff;
    z-index: 5;
}
.proCenTabOn{
    position: fixed;
    _position: absolute;
    top: 0 !important;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 99;
    background: #fff;
    box-shadow: -6px -2px 30px -5px rgba(0,0,0,.4);
    margin-top: 0 !important;
}
.top-wrap-con{
    height: 90px;
    background: #fff;
}
.logo{
    float: left;
    text-align: center;
}
.logo>a{
    height: 85px;
}
.logo img{
    width: 268px;
    height: auto;
    vertical-align: middle;
}
.midspan{
    display: inline-block;
    width: 0;
    height: 100%;
    vertical-align: middle;
}
.top-right{
    width: 776px;
    float: right;
    color: #666;
    position: relative;
}
.right-search{
    width: 460px;
    float: left;
    position: absolute;
    left: 0;
    top: 20px;
}
.search-input-in{
    width: 100%;
    height: 36px;
    border-radius: 50px;
    background: linear-gradient(to right, #3084e5, #18ebe2);
}
.search-input-in>input{
    width: 380px;
    height: 32px;
    outline: none;
    border: none;
    padding: 0 60px 0 16px;
    margin: 2px 0 0 2px;
    border-radius: 50px;
}
.search-icon{
    position: absolute;
    top: 0;right: 0;
}
.search-icon>button{
    width: 55px;
    height: 36px;
    border-radius: 50px;
    background: linear-gradient(to right, #18ebe2, #3084e5);
    border: 0;
    cursor: pointer;
    color: #fff;
}
.search-icon>button>i{
    font-size: 30px;
}
.search-label{
    padding: 5px 0 0 16px;
}
.search-label>a{
    display: inline-block;
    padding-right: 10px;
}
.search-label>a:hover{
    color: #e83733;
}
.top-shoppingCar{
    float: right;
    position: relative;
    text-align: right;
}
.shopcut-hover{
    margin: 20px 0 2px;
    padding: 0 40px;
    color: #333;
    transition: all .5s;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid blue;
    min-width: 55px;
    position: relative;
    line-height: 34px;
}
.shopcut-hover>dt>a>i{
    color: blue;
    font-size: 20px;
    transition: all .8s;
    display: inline-block;
    margin-right: 10PX;
    transform: rotateY(180deg);
}
.font-num{
    position: absolute;
    top: -8px;
    right: -5px;
    min-width: 18px;
    height: 18px;
    line-height: 18px;
    border-radius: 10px;
    color: #fff;
    text-align: center;
    padding: 0 1px;
    background: red;
}
.shopcar-show{
    width: 305px;
    position: absolute;
    top: 55px;
    right: 0;
    background: #fff;
    border: 1px solid #e3e4e5;
    border-radius: 5px 0 5px 5px;
    z-index: 4;
    box-shadow: 0 5px 25px -4px rgba(0,0,0,.3);
    text-align: left;
    display: none;
}
.shopcar-show>p{
    padding: 10px;
    color: #666;
}
.closeCart{
    float: right;
    display: block;
    cursor: pointer;
    transition: all .5s;font-size: 14px !important;
}
.shopcut-hover:hover{
    background: #f7f7f7;
}
.shop-bottom{
    line-height: 40px;padding-left: 10px;
    background: #f5f5f5;
    border-radius: 0 0 5px 5px;
}
.shop-bottom>span{
    display: inline-block;
    padding-right: 5px;
}
.shop-btn{
    float: right;
    margin: 7px 10px 0 0;
    background: #e83632;
    border: 0;
    border-radius: 3px;
    padding: 4px 10px;
    color: #fff;
    cursor: pointer;
}
.top-shoppingCar:hover .shopcar-show{
    display: block;
}
/******** top-wrap end *********/
.nav{
    width: 100%;
    z-index: 3;
    background: #fff;
}
.nav-menu{
    height: 36px;
    line-height: 36px;
    font-size: 14px;
}
.nav-menu>div>ul>li>a{
    color: #fff;
}
.nav-menu>div>ul>li>a>i{
    font-size: 12px;
    padding-right: 5px;
    vertical-align: -1px;
}
.menu-left{
    width: 179px;
    background: #2e8ae4;
    color: #FFF;
    padding-left: 15px;
    float: left;
    position: relative;
}
.menu-left .nav-cont{
    position: absolute;top: 36px;
    left: 0;
    z-index: 3;
}
.menu-left .nav-cont li:first-child,
.menu-left .nav-cont li ul li:first-child{
    margin-top: 10px;
}
.menu-left .nav-cont li{
    padding-left: 15px;
    transition: all .5s;
}
.menu-left .nav-cont>li>a{
    color: #fff;
    display: block;
}
.menu-left .nav-cont li a i{
    float: right;
    padding-right: 5px;
    vertical-align: -1px;
    transition: all .5s;
    font-size: 14px;
}
.nav-cont{
    background: linear-gradient(#3084e5, #18ebe2);
    opacity: .9;
    width: 194px;
    height: 510px;
    filter: Alpha(opacity=90);
}
.nav-cont li:hover{
    background: #035a9f;
    color: #2e8ae4;
    cursor: pointer;
}
.menu-left li:hover>a>i{
    transform: rotate(90deg);
}
.nav-cont li ul{
    visibility: hidden;
    display: none;
    position: absolute;
    top: 0;
    left: 194px;
    min-width: 100px;
    height: 510px;
    background: #FFF;
    transition: all 0.5s ease-out 0s;
    box-shadow: 0 0 25px -4px rgba(0,0,0,.2);
    overflow: auto;
    text-align: center;
}
.nav-cont li:hover ul{
    display: block;
    visibility: visible;
}
.menu-left .nav-cont li ul li{
    padding-left: 0;
    color:#999;
}
.menu-left .nav-cont li ul li:hover a{
    color: #fff;
}
.nav-ul{
    float: left;
    margin-left: 10px;
}
.nav-ul li{
    float: left;
    transition: all 0.8s ease-out 0s;
}
.nav-ul li a{
    padding: 0 26px;
    display: block;
    height: 37px;
}
.nav-ul li:hover,.nav-ul li a:hover{
    color: #FFF;
    cursor: pointer;
    background: #2e8ae4;
}
/******* nav end ********/
.banner{
    width: 100%;
    height: 510px;
    overflow: hidden;
    position: relative;
    border-top: 2px solid#2e8ae4;
}
.banner ul{
    width: 9515px;
    position: absolute;
    height: 100%;
    left: 0;
}
.banner ul li{
    float: left;
    width: 20%;
}
.banner ul li img{
    width: 100%;
    min-width: 1210px;
    height: 510px;
}
.banner .arrow{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    background: rgba(0, 0, 0, .5);
    opacity: 1;
}
.arrow i{
    font-size: 28px;
    color: #fff;
    line-height: 60px;
}
.bottom-dots{
    position:absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -44px;
}
.swiper-pagination-bullets span{
    margin: 0 5px;
    width: 8px;
    border-radius: 50%;
    height: 8px;
    border: 2px solid #555;
}
.swiper-pagination-bullet-active{
    background: #0069c8;
    border: 2px solid #0069c8;
    box-shadow: 0 0 0 4px rgba(46,138,228,.3);
}
/******* banner end *******/
.container{
    width: 100%;
}
.main-wrap{
    margin-top: 55px;
    color: #444;
}
.hot-title{
    height: 40px;
    line-height: 40px;
}
.more{
    float: right;
    color: #666;
}
.list_wrap,
.list_hover,
.list_pro img,
.more, 
.pro_left{
    transition: all .5s;
}
.more a i{
    font-size: 12px;
    font-weight: bold;
}
.more a:hover{
    color: #0069c8;
}
.title-font{
    font-size: 24px;
}
.tabCon{
    overflow: auto;
    width: 1222px;
}
.tabCon .on{
    display: block;
}
.listCon{
    width: 232px;
    height: 320px;
    background: #FFF;
    margin-top: 13px;
    position: relative;
    overflow: hidden;
    transition: all, .5s;
    float: left;
    margin-right: 12px;
}
.list_pro{
    text-align: center;
    margin: 20px 0 15px 0;
}
.list_pro img{
    width: 190px;
    height: 190px;
    display: inline-block;
}
.list_bottom{
    padding: 0 20px;
}
.list_bottom p{
    color: #999;
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-top: 3px;
}
.list_bottom h5 a{
    font-size: 16px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.price{
    color: #2e8ae4;
    font-size: 16px;
    padding-top: 10px;
}
.hot{
    position: absolute;
    top: 0;
    right: 10px;
}
.hot img{
    width: 60px;
    height: 60px;
}
.list_hover{
    background: linear-gradient(to right, #18ebe2, #3084e5);
    text-align: center;
    color: #FFF;
    width: 100%;
    height: 68px;
    line-height: 68px;
    position: absolute;
    bottom: -68px;
}
.list_hover span{
    display: inline-block;
    margin: 0 5px;
}
.hover_price{
    font-size: 16px;
}
.shop_car{
    background: linear-gradient(to right, #ff29a7, #0060ff);
    width: 110px;
    height: 30px;
    line-height: 28px;
    border-radius: 50px;
    vertical-align: -9px;
}
.ripple{
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.list_hover .shop_car a{
    color: #FFF;
}
.listCon:hover, .pro_left:hover{
    box-shadow: 0 0 25px -2px rgba(0,0,0,.2);
}
.list_wrap:hover .list_hover,
.listCon:hover .list_hover,
.pro_left:hover .list_hover{
    bottom: 0;
}
.listCon:hover .list_bottom h5 a {
    color: #2e8ae4;
}
.flex_wrap{
    width: 1230px;
}
.list_cont_two{
    width: 478px;
}
.list_cont_two .list_pro{
    margin: 0;  
}
.list_cont_two .list_pro img{
    width: 100%;
    height: 240px;
}
.list_cont_two .list_hover{
    height: 80px;
    line-height: 80px;
    position: absolute;
    bottom: -80px;
} 
.list_cont_two .list_bottom {
    padding: 12px 25px 0 25px;
    position: relative;
}
.list_cont_two .list_bottom p{
    clear: both;
    width: 428px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.list_cont_two .list_bottom h5{
    font-size: 18px;
    float: left;
    width: 328px;
    margin-bottom: 5px;
}
.list_cont_two .list_bottom .price {
    position: absolute;
    font-size: 18px;
    top: 12px;
    right: 20px;
}
/*********** container end ************/
.footer{
    margin-top: 55px;
}
.link-wrap{
    background: #f6f6f6;
}
.link_bg{
    padding:45px 0;
}
.link-list{
    margin-right: 205px;
    float: left;
}
.link-list li{
    line-height: 25px;
    color: #666;
}
span.link-title{
    font-size: 16px;
    padding-bottom: 15px;
    display: block;
}
.link-connect{
    margin-right: 0;
    float: right;
}
.link-list li a:hover{
    color: #000;
}
.link-connect .link_title{
    color: #2e8ae4;
    font-size: 20px;
    padding: 0;
}
.link-connect .link_service{
    width: 125px;
    height: 35px;
    line-height: 32px;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    margin-top: 20px;
    background: linear-gradient(to right, #18ebe2, #3084e5);
}
.link-connect .link_service a{
    color: #fff; 
}
.foot-wrap{
    background: #eee;
}
.foot-con{
    padding: 10px 0;
}
.foot-right{
    float: right;
    margin-top: 5px;
}
.foot-left{
    color: #666;
    line-height: 20px;
}
.foot-left a{
    display: inline-block;
}
.floatNav{
    z-index: 999;
    position: fixed;
    bottom: 30px;
    right: 0;
    width: 48px;
    text-align: center;
    background-color: #ffffff;
    border: 1px solid #0396e6;
    border-bottom: 0px none;
}
.floatNav a.float{
    width: 48px;
    height: 48px;
    border-bottom: 1px solid #0396e6;
    display: block;
}
.floatNav a.float span{
    width: 48px;
    height: 48px;
    display: block; 
    background: url("../images/indexImg/float.png") -48px top;
}
.floatNav a.float span:hover{
    background-position: 0 top;
}
.floatNav a.float span.second-preSales:hover{
    background-position: 0 -49px;
}
.floatNav a.float span.second-preSales{
    background-position: -48px -49px;
}
.floatNav a.float span.arrow-preSales{
    background-position: -48px -196px;
}
.floatNav a.float span.arrow-preSales:hover{
    background-position: 0 -196px;
}
.btnBackTop{
    display: none;
}