html, body, div, span, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,small, strong, sub, sup, var,b, i,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, figcaption, figure, footer, header, hgroup, 
menu, nav, section, summary,time, mark, audio, video,a,ul li,span{ 
    margin:0;padding:0;
    color:#000;
    border: none;
    font-size:12px;
    font-weight: normal;
    text-decoration: none;
    list-style: none;
    font-family: "微软雅黑", Helvetica, STHeiTi, Arial, sans-serif;
}
