.main{
    width: 1210px;margin: 0 auto;
}
header{
    width: 100%;height: 40px;background: #fbfbfb;
    border-bottom: 1px solid #f3f3f3;
}
body{
    background: #f5f5f5;
}
a{
    color: #333;
    display: block;
    transition: all .5s;
}
.header-left{
    float: left;
    line-height: 40px;
    color: #999;
}
.header-right{
    float: right;
}
.header-right>ul>li{
    float: left;
    margin-left: 10px;
    line-height: 40px;
}
.header-right>ul>li>a{
    color: #999;   
}
.top-mobile-wrap{
    color: blue;
}
.header-right>ul>li>a:hover{
    color: #666;
}
.top-mobile-wrap{
    position: relative;
    cursor: pointer;
    color: #0069c8 !important;
}
.top-mobile-wrap:hover .littleImg,.top-mobile-wrap:hover .wx-tip{
    visibility: visible;
}
.top-mobile-wrap .littleImg{
    visibility: hidden;
    width: 120px;
    height: 120px;
    background: #FFF;
    position: absolute;
    right: 0;
    z-index: 6;
    padding: 10px 20px;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 0 15px -3px rgba(0,0,0,.2);
}
.wx-tip{
    visibility: hidden;
    width: 120px;
    position: absolute;
    right: 0;
    z-index: 6;
    top: 180px;
    background: #f5f5f5;
    text-align: center;
    padding: 0 20px;
    border-top: 1px dotted #e3e3e3;
    border-radius: 0 0 5px 5px;
    height: 35px;
    line-height: 35px;
    color: #0069c8;
}
.clearfixed::after{
    clear: both;
    overflow: hidden;
    width: 0;
    content: ".";
    font-size: 10px;
    display: block;
    visibility: hidden;
}
.top-wrap{
    width: 100%;
    position: fixed;
    top: 40px;
    background: #fff;
    z-index: 5;
}
.proCenTabOn{
    position: fixed;
    _position: absolute;
    top: 0 !important;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 99;
    background: #fff;
    box-shadow: -6px -2px 30px -5px rgba(0,0,0,.4);
    margin-top: 0 !important;
}
.top-wrap-con{
    height: 90px;
    background: #fff;
}
.logo{
    float: left;
    text-align: center;
}
.logo>a{
    height: 85px;
}
.logo img{
    width: 268px;
    height: auto;
    vertical-align: middle;
}
.midspan{
    display: inline-block;
    width: 0;
    height: 100%;
    vertical-align: middle;
}
.top-right{
    width: 776px;
    float: right;
    color: #666;
    position: relative;
}
.right-search{
    width: 460px;
    float: left;
    position: absolute;
    left: 0;
    top: 20px;
}
.search-input-in{
    width: 100%;
    height: 36px;
    border-radius: 50px;
    background: linear-gradient(to right, #3084e5, #18ebe2);
}
.search-input-in>input{
    width: 380px;
    height: 32px;
    outline: none;
    border: none;
    padding: 0 60px 0 16px;
    margin: 2px 0 0 2px;
    border-radius: 50px;
}
.search-icon{
    position: absolute;
    top: 0;right: 0;
}
.search-icon>button{
    width: 55px;
    height: 36px;
    border-radius: 50px;
    background: linear-gradient(to right, #18ebe2, #3084e5);
    border: 0;
    cursor: pointer;
    color: #fff;
}
.search-icon>button>i{
    font-size: 30px;
}
.search-label{
    padding: 5px 0 0 16px;
}
.search-label>a{
    display: inline-block;
    padding-right: 10px;
}
.search-label>a:hover{
    color: #e83733;
}
.top-shoppingCar{
    float: right;
    position: relative;
    text-align: right;
}
.shopcut-hover{
    margin: 20px 0 2px;
    padding: 0 40px;
    color: #333;
    transition: all .5s;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid blue;
    min-width: 55px;
    position: relative;
    line-height: 34px;
}
.shopcut-hover>dt>a>i{
    color: blue;
    font-size: 20px;
    transition: all .8s;
    display: inline-block;
    margin-right: 10PX;
    transform: rotateY(180deg);
}
.font-num{
    position: absolute;
    top: -8px;
    right: -5px;
    min-width: 18px;
    height: 18px;
    line-height: 18px;
    border-radius: 10px;
    color: #fff;
    text-align: center;
    padding: 0 1px;
    background: red;
}
.shopcar-show{
    width: 305px;
    position: absolute;
    top: 55px;
    right: 0;
    background: #fff;
    border: 1px solid #e3e4e5;
    border-radius: 5px 0 5px 5px;
    z-index: 4;
    box-shadow: 0 5px 25px -4px rgba(0,0,0,.3);
    text-align: left;
    display: none;
}
.shopcar-show>p{
    padding: 10px;
    color: #666;
}
.closeCart{
    float: right;
    display: block;
    cursor: pointer;
    transition: all .5s;font-size: 14px !important;
}
.shopcut-hover:hover{
    background: #f7f7f7;
}
.shop-bottom{
    line-height: 40px;padding-left: 10px;
    background: #f5f5f5;
    border-radius: 0 0 5px 5px;
}
.shop-bottom>span{
    display: inline-block;
    padding-right: 5px;
}
.shop-btn{
    float: right;
    margin: 7px 10px 0 0;
    background: #e83632;
    border: 0;
    border-radius: 3px;
    padding: 4px 10px;
    color: #fff;
    cursor: pointer;
}
.top-shoppingCar:hover .shopcar-show{
    display: block;
}
/******** top-wrap end *********/
.nav{
    width: 100%;
    z-index: 3;
    border-bottom: 1px solid#2e8ae4;
    padding-top: 90px;
}
.nav-menu{
    height: 36px;
    line-height: 36px;
    font-size: 14px;
}
.nav-menu>div>ul>li>a{
    color: #fff;
}
.nav-menu>div>ul>li>a>i{
    font-size: 12px;
    padding-right: 5px;
    vertical-align: -1px;
}
.menu-left{
    width: 179px;
    background: #2e8ae4;
    color: #FFF;
    padding-left: 15px;
    float: left;
    position: relative;
}
.menu-left .nav-cont{
    position: absolute;top: 36px;
    left: 0;
    z-index: 3;
    display: none;
}
.menu-left .nav-cont li:first-child,
.menu-left .nav-cont li ul li:first-child{
    margin-top: 10px;
}
.menu-left .nav-cont li{
    padding-left: 15px;
    transition: all .5s;
}
.menu-left .nav-cont>li>a{
    color: #fff;
    display: block;
}
.menu-left .nav-cont li a i{
    float: right;
    padding-right: 5px;
    vertical-align: -1px;
}
.nav-cont{
    background: linear-gradient(#3084e5, #18ebe2);
    opacity: .9;
    width: 194px;
    height: 510px;
    filter: Alpha(opacity=90);
}
.nav-cont li:hover{
    background: #035a9f;
    color: #2e8ae4;
    cursor: pointer;
}
.nav-cont li ul{
    visibility: hidden;
    display: none;
    position: absolute;
    top: 0;
    left: 194px;
    min-width: 100px;
    height: 510px;
    background: #FFF;
    transition: all 0.5s ease-out 0s;
    box-shadow: 0 0 25px -4px rgba(0,0,0,.2);
    overflow: auto;
    text-align: center;
}
.nav-cont li:hover ul{
    display: block;
    visibility: visible;
}
.menu-left .nav-cont li ul li{
    padding-left: 0;
    color:#999;
}
.menu-left .nav-cont li ul li:hover a{
    color: #fff;
}

.menu-left .nav-cont li a i{
    float: right;
    padding-right: 5px;
    vertical-align: -1px;
    transition: all .5s;
    font-size: 14px;
}
.nav-cont{
    background: linear-gradient(#3084e5, #18ebe2);
    opacity: .9;
    width: 194px;
    height: 510px;
    filter: Alpha(opacity=90);
}
.nav-cont li:hover{
    background: #035a9f;
    color: #2e8ae4;
    cursor: pointer;
}
.menu-left li:hover>a>i{
    transform: rotate(90deg);
}
.nav-cont li ul{
    visibility: hidden;
    display: none;
    position: absolute;
    top: 0;
    left: 194px;
    min-width: 100px;
    height: 510px;
    background: #FFF;
    transition: all 0.5s ease-out 0s;
    box-shadow: 0 0 25px -4px rgba(0,0,0,.2);
    overflow: auto;
    text-align: center;
}
.nav-cont li:hover ul{
    display: block;
    visibility: visible;
}
.menu-left .nav-cont li ul li{
    padding-left: 0;
    color:#999;
}
.menu-left .nav-cont li ul li:hover a{
    color: #fff;
}
.nav-ul{
    float: left;
    margin-left: 10px;
}
.nav-ul li{
    float: left;
    transition: all 0.8s ease-out 0s;
}
.nav-ul li a{
    padding: 0 26px;
    display: block;
    height: 37px;
}
.nav-ul li:hover,.nav-ul li a:hover{
    color: #FFF;
    cursor: pointer;
    background: #2e8ae4;
}

/* heared end */


.carCon{
    background: #f4f4f4;
    width: 100%;
    overflow: hidden;
}
.carCon>.carCon_main{
    background: #fff;
    margin: 15px auto 0 auto;
    width: 1170px;
    padding: 0 20px;
}
.carCon>.carCon_main>.car_top{
    height: 50px;
    border-bottom: 1px solid #eee;
}
.carCon>input[type= "checkbox"]{
    width: 16px;
    height: 16px;
    display: block;
}
.carCon .checkboxFive{
    width: 15px;
    position: relative;
    display: inline-block;
    margin-top: 1px;
}
.checkbox{
    margin-top: 19px;
}
.checkboxFive>label{
    width: 16px;
    height: 16px;
    cursor: pointer;
    position: absolute;
    top: 17px;
    left: 0;
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 3px; 
}
.checkboxFive input[type=checkbox]:checked + label {
    border: 1px solid #2e8ae4;
    border-radius: 3px;
}
.checkboxFive{
    margin-left: 30px;
}
.carCon ul>li{
    line-height:50px; 
    float: left;
}
.carCon ul>.list_check{
    width: 80px;
    line-height: 16px;
}
.carCon ul>.list_con{
    width: 535px;
    text-indent: 26px;
}
.carCon ul>.list_price{
    width: 130px;
    text-align: center;
}
.carCon ul>.list_amount{
    width: 120px;
    text-align: center;
}
.carCon ul>.list_sum{
    width: 140px;
    text-align: center;
}
.carCon ul>.list_operation{
    width: 164px;
    text-align: center;
}
.carCon .car_box{
    width: 100%;
    padding-bottom: 15px;
    background: #fff;
}
.carCon>.carCon_main>.car_bottom{
    height: 50px;
    border-top: 1px solid #eee; 
}
.cancel_all{
    display: inline-block;
    padding-left: 5px;
}
.car_bottom{
    width: 100%;
    height: 50px;
    overflow: hidden;
}
.car_bottom>.car_b_left{
    width:200px;
    height: 50px;
    float: left;
}
.goShop{
    float: right;
}
.goShop>a{
    line-height: 54px;
}
.car_b_right{
    width: 360px;
    height: 50px;
    float: right;
    line-height: 50px;
}
.selected{
    min-width: 110px;
    float: left;
}
.totalMoney{
    min-width: 100px;
    float: left;
}
.totalMoney .total{
    font-size: 20px;
    line-height: 20px;
    color: #e83733;
    font-weight: 400;
}
.car_b_right .clbtn{
    width: 120px;
    float: right;
    height: 50px;
    background: #e83733;
    line-height: 50px;
    border-radius: 3px;
}
.car_b_right .clbtn a{
    width: 120px;
    height: 50px;
    display: block;
    font:normal 800 22px/50px '宋体';
    text-align: center;
    color: #fff;
}
/* 201807260459200991.jpg */
.carCon .newbox{
    height: 120px;
    padding-bottom: 0;
    border-bottom:1px solid #eee; 
}
.carCon .list_img{
    width: 90px;
    height: 100px;
    margin-top: 20px;
    text-indent: 0;
    float: left;
}
.carCon .list_img img{
    width: 100%;
}
.carCon .list_text{
    width: 420px;
    float: left;
    color: #999;
}
.carCon .list_text a{
    color:#333;
}
.carCon #marque:hover{
    color: blue;
}
.carCon .p_padding{
    padding: 5px 0;
    line-height: 14px;
    width: 300px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; 
}
.carCon .price{
    color: #e83733;
    font-size: 16px;
    line-height: 16px;
    padding-top: 20px;
}
.carCon .discount{
    color: #999;
    font-size: 14px;
    line-height: 14px;
    padding-top: 10px;
    text-decoration: line-through;
}
.carCon .amount_box{
    position: relative;
    margin-top:20px;
    width: 77px;
    height: 25px;
    display: inline-block; 
}
.carCon .amount_box .cnum{
    width: 39px;
    height: 17px;
    line-height: 17px;
    border: 1px solid #e5e5e5;
    color: #343434;
    text-align: center;
    background-color: #fff;
    z-index: 2;
    position: absolute;
    left: 18px;
    top: 0;
    float: left;
}
.carCon .amount_box a{
    display: block;
    width: 16px;
    height: 19px;
    border: 1px solid #ccc;
    text-align: center;
    line-height: 19px;
    position: absolute;
    top: 0;
    background: #f0f0f0;
    font-weight: 600;
    color: black;
}
.carCon .sum_price{
    color: #e83733;
    font-size: 16px;
    line-height: 16px;
    padding-top: 20px;
}
/* shopCar  end */

.footer{
    margin-top: 55px;
}
.link-wrap{
    background: #f6f6f6;
}
.link_bg{
    padding:45px 0;
    height: 130px;
}
.link-list{
    margin-right: 205px;
    float: left;
}
.link-list li{
    line-height: 25px;
    color: #666;
}
span.link-title{
    font-size: 16px;
    padding-bottom: 15px;
    display: block;
}
.link-connect{
    margin-right: 0;
    float: right;
}
.link-list li a:hover{
    color: #000;
}
.link-connect .link_title{
    color: #2e8ae4;
    font-size: 20px;
    padding: 0;
}
.link-connect .link_service{
    width: 125px;
    height: 35px;
    line-height: 32px;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    margin-top: 20px;
    background: linear-gradient(to right, #18ebe2, #3084e5);
}
.link-connect .link_service a{
    color: #fff; 
}
.foot-wrap{
    background: #eee;
}
.foot-con{
    padding: 10px 0;
}
.foot-right{
    float: right;
    margin-top: 5px;
}
.foot-left{
    color: #666;
    line-height: 20px;
}
.foot-left a{
    display: inline-block;
}
.floatNav{
    z-index: 999;
    position: fixed;
    bottom: 30px;
    right: 0;
    width: 48px;
    text-align: center;
    background-color: #ffffff;
    border: 1px solid #0396e6;
    border-bottom: 0px none;
}
.floatNav a.float{
    width: 48px;
    height: 48px;
    border-bottom: 1px solid #0396e6;
    display: block;
}
.floatNav a.float span{
    width: 48px;
    height: 48px;
    display: block; 
    background: url("../images/indexImg/float.png") -48px top;
}
.floatNav a.float span:hover{
    background-position: 0 top;
}
.floatNav a.float span.second-preSales:hover{
    background-position: 0 -49px;
}
.floatNav a.float span.second-preSales{
    background-position: -48px -49px;
}
.floatNav a.float span.arrow-preSales{
    background-position: -48px -196px;
}
.floatNav a.float span.arrow-preSales:hover{
    background-position: 0 -196px;
}
.btnBackTop{
    display: none;
}